*.a
*.lo
*.o
.deps/
/.depend
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/REVISION
/test-driver
/transmission-gtk.spec
Transmission.xcodeproj/*.mode*
Transmission.xcodeproj/*.pbxuser
Transmission.xcodeproj/*.xcworkspace
Transmission.xcodeproj/xcuserdata
/beta
/build
cli/.depend
cli/transmissioncli
daemon/.depend
daemon/transmission-daemon
daemon/transmission-proxy
daemon/transmission-remote
gtk/.depend
gtk/defines.h
gtk/transmission-gtk
gtk/transmission-resources.[hc]
gtk/transmission-gtk.appdata.xml
gtk/transmission-gtk.desktop
libtransmission/*.a
libtransmission/.depend
libtransmission/version.h
macosx/Info.plist
macosx/Transmission.app
macosx/en.lproj/*~.nib
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/POTFILES
/po/stamp-it
third-party/miniupnp/miniupnpcstrings.h
Makefile
Makefile.in
/m4/intltool.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/qt/config.pri
